<div class="page-sidebar navbar-collapse collapse">
    <!-- BEGIN SIDEBAR MENU -->
    <!-- DOC: Apply "page-sidebar-menu-light" class right after "page-sidebar-menu" to enable light sidebar menu style(without borders) -->
    <!-- DOC: Apply "page-sidebar-menu-hover-submenu" class right after "page-sidebar-menu" to enable hoverable(hover vs accordion) sub menu mode -->
    <!-- DOC: Apply "page-sidebar-menu-closed" class right after "page-sidebar-menu" to collapse("page-sidebar-closed" class must be applied to the body element) the sidebar sub menu mode -->
    <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
    <!-- DOC: Set data-keep-expand="true" to keep the submenues expanded -->
    <!-- DOC: Set data-auto-speed="200" to adjust the sub menu slide up/down speed -->
    <ul class="page-sidebar-menu" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200" ng-class="{'page-sidebar-menu-closed': settings.layout.pageSidebarClosed}">
        <li class="start">
            <a href="#/userManager.html">
                <i class="icon-home"></i>
                <span class="title">测试页面</span>
            </a>
        </li>
        <!-- <li class="start">
            <a href="#/userManager.html">
                <i class="icon-user"></i>
                <span class="title">用户管理</span>
            </a>
        </li>        
        <li class="start">
            <a href="#/category.html">
                <i class="icon-layers"></i>
                <span class="title">分类管理</span>
            </a>
        </li>
        <li class="start">
            <a href="#/productlist.html">
                <i class="icon-diamond"></i>
                <span class="title">商品管理</span>
            </a>
        </li>
        <li class="start">
            <a href="#/productedit.html">
                <i class="icon-wrench"></i>
                <span class="title">发布商品</span>
            </a>
        </li>
        <li class="start">
            <a href="#/mainPageManager.html">
                <i class="icon-bulb"></i>
                <span class="title">首页配置</span>
            </a>
        </li>
         <li class="start">
            <a href="#/order.html">
                <i class="icon-docs"></i>
                <span class="title">订单管理</span>
            </a>
        </li>
        <li class="start">
            <a href="#/favlist.html">
                <i class="icon-heart"></i>
                <span class="title">收藏管理</span>
            </a>
        </li>
        <li class="start">
            <a href="#/shoppingcart.html">
                <i class="icon-basket"></i>
                <span class="title">购物车管理</span>
            </a>
        </li>
        <li class="start active">
            <a href="#/commentlist.html">
                <i class="fa fa-comment"></i>
                <span class="title">评论管理</span>
            <span class="selected"></span></a>
        </li> -->
    </ul>
    <!-- END SIDEBAR MENU -->
</div>