<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee   
    http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
	<display-name>ling2.workflow</display-name>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<!-- <param-value>WEB-INF/beans/**/*.xml</param-value> -->
		<param-value>classpath*:beans/**/*.xml</param-value>
	</context-param>
	<listener>
		<listener-class>com.bstek.dorado.web.servlet.SpringContextLoaderListener</listener-class>
	</listener>
	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>*</url-pattern>
	</filter-mapping>

	<!-- spring 安全验证 包括GenericFilterBean才能有效 -->
	<!-- <filter>
		<filter-name>springSecurityFilterChain</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>springSecurityFilterChain</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping> -->

	<!-- 注意： 1、只用在spring中配置了事物才能在web.xml配置openSessionInViewFilter 否则会出错。 2、openSessionInViewFilter必须配置在strutsfilter之前。 -->
	<filter>
		<filter-name>OpenSessionInViewFilter</filter-name>
		<filter-class>org.springframework.orm.hibernate3.support.OpenSessionInViewFilter</filter-class>
		<init-param>
			<param-name>excludeSuffixs</param-name>
			<param-value>js,css,jpg,gif,png</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>OpenSessionInViewFilter</filter-name>
		<url-pattern>*.ling</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>OpenSessionInViewFilter</filter-name>
		<url-pattern>/dorado/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>OpenSessionInViewFilter</filter-name>
		<url-pattern>*.jsp</url-pattern>
	</filter-mapping>

	<!-- <servlet> <servlet-name>spring-mvc</servlet-name> <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class> 
		<init-param> <javaee:param-name>contextConfigLocation</javaee:param-name> 
		<javaee:param-value>/WEB-INF/spring-mvc-servlet.xml</javaee:param-value> 
		</init-param> </servlet> <servlet-mapping> <servlet-name>spring-mvc</servlet-name> 
		<url-pattern>*.do</url-pattern> </servlet-mapping> -->
	<servlet>
		<servlet-name>dorado7Servlet</servlet-name>
		<servlet-class>com.bstek.dorado.web.servlet.DoradoServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>dorado7Servlet</servlet-name>
		<url-pattern>*.ling</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>dorado7Servlet</servlet-name>
		<url-pattern>*.dpkg</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>dorado7Servlet</servlet-name>
		<url-pattern>/dorado/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>dorado7Servlet</servlet-name>
		<url-pattern>/dorado/exception.d</url-pattern>
	</servlet-mapping>
	
	<!-- Spring刷新Interceptor防止内存泄漏  -->
    <listener>
     <listener-class>
     	org.springframework.web.util.IntrospectorCleanupListener
     </listener-class>
    </listener>
 

	 <!-- 设置session 超时时间为20分钟  -->
	 <!-- <session-config>
	  	<session-timeout>20</session-timeout>
	 </session-config> -->
	 
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>