<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
           http://www.springframework.org/schema/security
           http://www.springframework.org/schema/security/spring-security-3.2.xsd">
           
	<beans:bean parent="ling2.anonymousUrl">
		<beans:property name="urlPattern" value="/resource/**"></beans:property>
	</beans:bean>
	<beans:bean parent="ling2.anonymousUrl">
		<beans:property name="urlPattern" value="/jquery-easyui-1.4.4/**"></beans:property>
	</beans:bean>
	<beans:bean parent="ling2.anonymousUrl">
		<beans:property name="urlPattern" value="/assets/**"></beans:property>
	</beans:bean>
	
	<beans:bean parent="ling2.anonymousUrl">
	  <beans:property name="urlPattern" value="/handleSingle/remoteLogin.do"></beans:property> 
	</beans:bean>
	
	<beans:bean parent="ling2.anonymousUrl">
	  <beans:property name="urlPattern" value="/cache/refreshOrgPath.do"></beans:property> 
	</beans:bean>
	
	<beans:bean parent="ling2.anonymousUrl">
	  <beans:property name="urlPattern" value="/cache/publishWorkflow.do"></beans:property> 
	</beans:bean>
	
	<beans:bean parent="ling2.anonymousUrl">
	  <beans:property name="urlPattern" value="/cache/refreshCacheJob.do"></beans:property> 
	</beans:bean>
	
	<beans:bean parent="ling2.anonymousUrl">
	  <beans:property name="urlPattern" value="/cache/testOrg1.do"></beans:property> 
	</beans:bean>
	
	<beans:bean parent="ling2.anonymousUrl">
	  <beans:property name="urlPattern" value="/vat/todoTaskInit.do"></beans:property> 
	</beans:bean>
	
</beans:beans>







