
<div ng-controller="InvoiceAbolishCtroller">
	<style>
	.grid {
	  height: 400px;
	}
	</style>
	<div class="form-body">
		<div class="form-group">  
			<label class="col-md-2 control-label">打印单ID:</label>
			<div class="col-md-2">
			     <input type="text" class="form-control" ng-model="invoiceAbolishQuery.outtaxPrintHid" placeholder="">
			</div> 
			<label class="col-md-2 control-label">发票ID:</label>
			<div class="col-md-2">
			     <input type="text" class="form-control" ng-model="invoiceAbolishQuery.storeId" placeholder="">
			</div> 
			<label class="col-md-2 control-label">作废类型:</label>
			<div class="col-md-2">
			     <input type="text" class="form-control" ng-model="invoiceAbolishQuery.abolishType" placeholder="">
			</div> 
			<label class="col-md-2 control-label">作废时间:</label>
			<div class="col-md-2">
			     <input type="text" class="form-control" ng-model="invoiceAbolishQuery.abolishDate" placeholder="">
			</div> 
			<label class="col-md-2 control-label">开始时间:</label>
			<div class="col-md-2">
			     <input type="text" class="form-control" ng-model="invoiceAbolishQuery.sDate" placeholder="">
			</div> 
			<label class="col-md-2 control-label">结束时间:</label>
			<div class="col-md-2">
			     <input type="text" class="form-control" ng-model="invoiceAbolishQuery.eDate" placeholder="">
			</div> 
			<label class="col-md-2 control-label">创建人:</label>
			<div class="col-md-2">
			     <input type="text" class="form-control" ng-model="invoiceAbolishQuery.createdBy" placeholder="">
			</div> 
			<label class="col-md-2 control-label">创建日期/时间:</label>
			<div class="col-md-2">
				<p class="input-group">
			        <input type="text" readOnly=true class="form-control" ng-model="invoiceAbolishQuery.createDate" ng-click="createDatePickerOpen=!createDatePickerOpen" datepicker-popup="yyyy-MM-dd" 
			        is-open="createDatePickerOpen" datepicker-options="myDatePicker.dateOptions"  date-disabled="isDateDisabled(date, mode)" close-text="关闭"/>
			        <span class="input-group-btn">
			            <button type="button" class="btn btn-default" ng-click="createDatePickerOpen=!createDatePickerOpen">
			                <i class="glyphicon glyphicon-calendar"></i>
			            </button>
			        </span>
			     </p>
			</div> 
			<label class="col-md-2 control-label">修改人:</label>
			<div class="col-md-2">
			     <input type="text" class="form-control" ng-model="invoiceAbolishQuery.modifiedBy" placeholder="">
			</div> 
			<label class="col-md-2 control-label">修改日期:</label>
			<div class="col-md-2">
				<p class="input-group">
			        <input type="text" readOnly=true class="form-control" ng-model="invoiceAbolishQuery.modifiedDate" ng-click="modifiedDatePickerOpen=!modifiedDatePickerOpen" datepicker-popup="yyyy-MM-dd" 
			        is-open="modifiedDatePickerOpen" datepicker-options="myDatePicker.dateOptions"  date-disabled="isDateDisabled(date, mode)" close-text="关闭"/>
			        <span class="input-group-btn">
			            <button type="button" class="btn btn-default" ng-click="modifiedDatePickerOpen=!modifiedDatePickerOpen">
			                <i class="glyphicon glyphicon-calendar"></i>
			            </button>
			        </span>
			     </p>
			</div> 
			<label class="col-md-2 control-label">是否有效:</label>
			<div class="col-md-2">
			     <input type="text" class="form-control" ng-model="invoiceAbolishQuery.flag" placeholder="">
			</div> 
			<label class="col-md-2 control-label">状态:</label>
			<div class="col-md-2">
			     <input type="text" class="form-control" ng-model="invoiceAbolishQuery.status" placeholder="">
			</div> 
			<label class="col-md-2 control-label">数据分区键:</label>
			<div class="col-md-2">
			     <input type="text" class="form-control" ng-model="invoiceAbolishQuery.dataowner" placeholder="">
			</div> 
			<label class="col-md-2 control-label">数据归属:</label>
			<div class="col-md-2">
			     <input type="text" class="form-control" ng-model="invoiceAbolishQuery.companyId" placeholder="">
			</div> 
		</div>                                        
	</div>
	<div class="clearfix"></div>
								<div class="portlet box purple">
                                <div class="portlet-title">
                                    <div class="tools pull-left">
                                       	<button type="button" class="btn btn-success" ng-click="queryInvoiceAbolish()">查询</button>
										<button type="button" class="btn btn-success" data-toggle="modal" data-target="#addInvoiceAbolishDetail" ng-click="addInvoiceAbolish()">添加</button>
										<!--<button type="button" class="btn btn-success" data-toggle="modal" data-target="#editInvoiceAbolishDetail" ng-click="editInvoiceAbolish()">修改</button>-->
										<button type="button" class="btn btn-success" ng-click="removeSelectInvoiceAbolishs()">删除选择</button>
										<button type="button" class="btn btn-success" ng-click="resetInvoiceAbolish()">还原修改</button>
										<!--<button type="button" class="btn btn-success" ng-click="saveInvoiceAbolish()">保存修改</button>-->
										<!--<button type="button" class="btn btn-success" ng-click="saveInvoiceAbolish()">保存修改</button>-->
                                    </div>
                                </div>
                                <div class="portlet-body">
                                    <div class="table-scrollable" style="height:300px">
                                        <table class="table table-striped table-bordered table-hover">
                                            <thead>
                                                <tr>
                                                    <th style="width:450px !important"> checkbox </th><!-- ,text-align:'center' -->
													<th ng-repeat="field in invoiceAbolishColumnDefs">													
														<div class="cell text-center" ng-style="field.style">
															<label class="caption">{{field.lable}}</label>
														</div>
													</th>  
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="invoiceAbolish in invoiceAbolishItems" align="center">
                                                    <td> checkbox </td>
													<td ng-repeat="field in invoiceAbolishColumnDefs"> 
														<div class="cell text-center" title="" style="overflow-x: hidden; overflow-y: visible" ng-bind="invoiceAbolish.{{field.name}}"></div>
													</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
									<div  class="modal fade" id="addInvoiceAbolishDetail" tabindex="-1" role="dialog" aria-hidden="true">
                                        <div class="modal-dialog modal-full">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                                                    <h4 class="modal-title">新增</h4>
                                                </div>
                                                <div class="modal-body"> 
											        <div class="form-body">
														<div class="form-group">  
															<label class="col-md-2 control-label">打印单ID:</label>
															<div class="col-md-2"> <input type="text" class="form-control" ng-model="currentInvoiceAbolish.outtaxPrintHid" placeholder=""> </div>
															<label class="col-md-2 control-label">发票ID:</label>
															<div class="col-md-2"> <input type="text" class="form-control" ng-model="currentInvoiceAbolish.storeId" placeholder=""> </div>
															<label class="col-md-2 control-label">作废类型:</label>
															<div class="col-md-2"> <input type="text" class="form-control" ng-model="currentInvoiceAbolish.abolishType" placeholder=""> </div>
															<label class="col-md-2 control-label">作废时间:</label>
															<div class="col-md-2"> <input type="text" class="form-control" ng-model="currentInvoiceAbolish.abolishDate" placeholder=""> </div>
															<label class="col-md-2 control-label">开始时间:</label>
															<div class="col-md-2"> <input type="text" class="form-control" ng-model="currentInvoiceAbolish.sDate" placeholder=""> </div>
															<label class="col-md-2 control-label">结束时间:</label>
															<div class="col-md-2"> <input type="text" class="form-control" ng-model="currentInvoiceAbolish.eDate" placeholder=""> </div>
															<label class="col-md-2 control-label">创建人:</label>
															<div class="col-md-2"> <input type="text" class="form-control" ng-model="currentInvoiceAbolish.createdBy" placeholder=""> </div>
															<label class="col-md-2 control-label">创建日期/时间:</label>
															<div class="col-md-2"> <input type="text" class="form-control" ng-model="currentInvoiceAbolish.createDate" placeholder=""> </div>
															<label class="col-md-2 control-label">修改人:</label>
															<div class="col-md-2"> <input type="text" class="form-control" ng-model="currentInvoiceAbolish.modifiedBy" placeholder=""> </div>
															<label class="col-md-2 control-label">修改日期:</label>
															<div class="col-md-2"> <input type="text" class="form-control" ng-model="currentInvoiceAbolish.modifiedDate" placeholder=""> </div>
															<label class="col-md-2 control-label">是否有效:</label>
															<div class="col-md-2"> <input type="text" class="form-control" ng-model="currentInvoiceAbolish.flag" placeholder=""> </div>
															<label class="col-md-2 control-label">状态:</label>
															<div class="col-md-2"> <input type="text" class="form-control" ng-model="currentInvoiceAbolish.status" placeholder=""> </div>
															<label class="col-md-2 control-label">数据分区键:</label>
															<div class="col-md-2"> <input type="text" class="form-control" ng-model="currentInvoiceAbolish.dataowner" placeholder=""> </div>
															<label class="col-md-2 control-label">数据归属:</label>
															<div class="col-md-2"> <input type="text" class="form-control" ng-model="currentInvoiceAbolish.companyId" placeholder=""> </div>
														</div>                                        
													</div>
												 </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn dark btn-outline" data-dismiss="modal">Close</button>
                                                    <button type="button" class="btn green"data-dismiss="modal" ng-click="test()">Save changes</button>
                                                </div>
                                            </div>
                                            <!-- /.modal-content -->
                                        </div>
                                        <!-- /.modal-dialog -->
                                    </div>
                                    <div  class="modal fade" id="editInvoiceAbolishDetail" tabindex="-1" role="dialog" aria-hidden="true">
                                        <div class="modal-dialog modal-full">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                                                    <h4 class="modal-title">编辑</h4>
                                                </div>
                                                <div class="modal-body"> 
											        <div class="form-body">
														<div class="form-group">  
															<label class="col-md-2 control-label">打印单ID:</label>
															<div class="col-md-2"> <input type="text" class="form-control" ng-model="currentInvoiceAbolish.outtaxPrintHid" placeholder=""> </div>
															<label class="col-md-2 control-label">发票ID:</label>
															<div class="col-md-2"> <input type="text" class="form-control" ng-model="currentInvoiceAbolish.storeId" placeholder=""> </div>
															<label class="col-md-2 control-label">作废类型:</label>
															<div class="col-md-2"> <input type="text" class="form-control" ng-model="currentInvoiceAbolish.abolishType" placeholder=""> </div>
															<label class="col-md-2 control-label">作废时间:</label>
															<div class="col-md-2"> <input type="text" class="form-control" ng-model="currentInvoiceAbolish.abolishDate" placeholder=""> </div>
															<label class="col-md-2 control-label">开始时间:</label>
															<div class="col-md-2"> <input type="text" class="form-control" ng-model="currentInvoiceAbolish.sDate" placeholder=""> </div>
															<label class="col-md-2 control-label">结束时间:</label>
															<div class="col-md-2"> <input type="text" class="form-control" ng-model="currentInvoiceAbolish.eDate" placeholder=""> </div>
															<label class="col-md-2 control-label">创建人:</label>
															<div class="col-md-2"> <input type="text" class="form-control" ng-model="currentInvoiceAbolish.createdBy" placeholder=""> </div>
															<label class="col-md-2 control-label">创建日期/时间:</label>
															<div class="col-md-2"> <input type="text" class="form-control" ng-model="currentInvoiceAbolish.createDate" placeholder=""> </div>
															<label class="col-md-2 control-label">修改人:</label>
															<div class="col-md-2"> <input type="text" class="form-control" ng-model="currentInvoiceAbolish.modifiedBy" placeholder=""> </div>
															<label class="col-md-2 control-label">修改日期:</label>
															<div class="col-md-2"> <input type="text" class="form-control" ng-model="currentInvoiceAbolish.modifiedDate" placeholder=""> </div>
															<label class="col-md-2 control-label">是否有效:</label>
															<div class="col-md-2"> <input type="text" class="form-control" ng-model="currentInvoiceAbolish.flag" placeholder=""> </div>
															<label class="col-md-2 control-label">状态:</label>
															<div class="col-md-2"> <input type="text" class="form-control" ng-model="currentInvoiceAbolish.status" placeholder=""> </div>
															<label class="col-md-2 control-label">数据分区键:</label>
															<div class="col-md-2"> <input type="text" class="form-control" ng-model="currentInvoiceAbolish.dataowner" placeholder=""> </div>
															<label class="col-md-2 control-label">数据归属:</label>
															<div class="col-md-2"> <input type="text" class="form-control" ng-model="currentInvoiceAbolish.companyId" placeholder=""> </div>
														</div>                                        
													</div>
												 </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn dark btn-outline" data-dismiss="modal">Close</button>
                                                    <button type="button" class="btn green"data-dismiss="modal" ng-click="test()">Save changes</button>
                                                </div>
                                            </div>
                                            <!-- /.modal-content -->
                                        </div>
                                        <!-- /.modal-dialog -->
                                    </div>